{% extends 'index.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit Admin Details Here</h4>
<!--                  <p class="card-description">-->
<!--                    Horizontal form layout-->
<!--                  </p>-->
                  <form class="forms-sample" method="post" action="{% url 'update_categ' dataid=data.id %}" enctype="multipart/form-data">
            {% csrf_token %}
                       <div class="form-group row">
                      <label for="exampleInputUsername1" class="col-sm-3 col-form-label">Category Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" name="name" value="{{ data.Name }}" id="exampleInputUsername1" placeholder="Enter your name">
                      </div>
                    </div>

                      <div class="form-group row">
                      <label for="exampleInputMobile" class="col-sm-3 col-form-label">Description</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control"name="desc" value="{{ data.Description }}" id="exampleInputMobile" placeholder="Enter description">
                      </div>
                    </div>

                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Category Image</label>
                          <div class="col-sm-9">
                              <input type="file" name="img" class="form-control file-upload-info" value="{{ data.Image.url }}" placeholder="Upload Image">
                          </div>
                      </div>

<!--                    <div class="form-check form-check-flat form-check-primary">-->
<!--                      <label class="form-check-label">-->
<!--                        <input type="checkbox" class="form-check-input">-->
<!--                        Remember me-->
<!--                      <i class="input-helper"></i></label>-->
<!--                    </div>-->
                    <button type="submit" class="btn btn-gradient-primary mr-2">Save</button>
<!--                    <button class="btn btn-light">Cancel</button>-->
                  </form>
                </div>
              </div>
            </div>




</body>
</html>
{% endblock %}