{% extends 'index.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit Product Details</h4>
                  <form class="forms-sample" method="post" action="{% url 'update_prod' dataid=data.id %}" enctype="multipart/form-data">
                  {% csrf_token %}

                      <div class="form-group row">
                         <label class="col-sm-3 col-form-label">Select Category</label>
                          <div class="col-sm-9">
                              <select name="categ" class="form-control">
                                  <option>{{ data.Categry }}</option>
                                  {% for i in da %}
                                    <option> {{ i.Name }} </option>
                                  {% endfor %}
                              </select>
                          </div>
                       </div>

                       <div class="form-group row">
                         <label for="exampleInputProduct" class="col-sm-3 col-form-label">Product</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" name="name" value="{{ data.Name }}" id="exampleInputProduct" placeholder="Enter the name of Product">
                          </div>
                       </div>

                      <div class="form-group row">
                         <label for="exampleInputProduct1" class="col-sm-3 col-form-label">Price</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" name="price" value="{{ data.Price }}" id="exampleInputProduct1" placeholder="Enter the price of Product in Rs.">
                          </div>
                       </div>

                      <div class="form-group row">
                         <label for="exampleInputProduct2" class="col-sm-3 col-form-label">Brand </label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" name="Brand" value="{{ data.Brand }}" id="exampleInputProduct2" placeholder="Brand name">
                          </div>
                       </div>

                       <div class="form-group row">
                         <label for="exampleTextarea1" class="col-sm-3 col-form-label">Description</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" name="desc" value="{{ data.Description }}" id="exampleTextarea1" placeholder="Enter a small description about Product">
                          </div>
                       </div>

                      <div class="form-group row">
                        <label for="exampleInputFile" class="col-sm-3 col-form-label">Product Image</label>
                          <div class="col-sm-9">
                              <input type="file" name="img" value="{{ data.Image.url }}" class="form-control file-upload-info"  id="exampleInputFile"  placeholder="Upload Image">
                          </div>
                      </div>

                    <button type="submit" class="btn btn-gradient-primary mr-2">Save</button>
<!--                    <button class="btn btn-light">Cancel</button>-->
                  </form>
                </div>
              </div>
            </div>




</body>
</html>
{% endblock %}